<section>
    <app-banner-wrapper>
        <div>
            <span class="text-xl font-thin">RESOURCES</span>
        </div>
    </app-banner-wrapper>
</section>
<section class="px-4 my-6 w-full flex flex-col gap-12">
    <section>
        <div>
            <div class="flex flex-col pb-6">
                <span class="text-lg font-thin text-primary dark:text-secondary">Video Resources</span
        >
        <span class="text-sm underline font-thin text-sucess"
          ><a
            href="https://www.youtube.com/@silo8553/videos"
            (click)="navigateToChannel($event)"
            >Browse my Youtube channel</a
          ></span
        >
      </div>
      <ul class="flex flex-col gap-5">
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/jS9rBienEFQ?si=wLGSPxOnWXKqw-x0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              lazyload
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/jS9rBienEFQ?si=wLGSPxOnWXKqw-x0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              lazyload
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/jS9rBienEFQ?si=wLGSPxOnWXKqw-x0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              lazyload
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/jS9rBienEFQ?si=wLGSPxOnWXKqw-x0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              lazyload
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/jS9rBienEFQ?si=wLGSPxOnWXKqw-x0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              lazyload
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <div class="flex flex-col pb-6">
        <span class="text-lg font-thin text-primary dark:text-secondary"
          >Design Resources</span
        >
        <span class="text-sm underline font-thin text-sucess"
          ><a
            href="https://www.youtube.com/@silo8553/videos"
            target="_blank"
            rel="noopener noreferrer"
            >Browse my Behance Account</a
          ></span
        >
      </div>
      <ul class="flex flex-col gap-5">
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.behance.net/embed/project/186586097?ilo0=1"
              allowfullscreen
              lazyload
              frameborder="0"
              allow="clipboard-write"
              refererPolicy="strict-origin-when-cross-origin"
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.behance.net/embed/project/186586097?ilo0=1"
              allowfullscreen
              lazyload
              frameborder="0"
              allow="clipboard-write"
              refererPolicy="strict-origin-when-cross-origin"
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.behance.net/embed/project/186586097?ilo0=1"
              allowfullscreen
              lazyload
              frameborder="0"
              allow="clipboard-write"
              refererPolicy="strict-origin-when-cross-origin"
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.behance.net/embed/project/186586097?ilo0=1"
              allowfullscreen
              lazyload
              frameborder="0"
              allow="clipboard-write"
              refererPolicy="strict-origin-when-cross-origin"
            ></iframe>
          </div>
        </li>
        <li>
          <div class="w-full pb-[60%] relative">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.behance.net/embed/project/186586097?ilo0=1"
              allowfullscreen
              lazyload
              frameborder="0"
              allow="clipboard-write"
              refererPolicy="strict-origin-when-cross-origin"
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>