<section
  class="h-16 bg-success w-full flex flex-row justify-between items-center px-3"
>
  <div class="flex flex-col items-start gap-1">
    <span class="font-light text-xs">DEVELOPER</span>
    <span class="text-xl">C 38NT3 A7</span>
  </div>
  <div class="flex flex-col items-end gap-1">
    <span class="font-light text-xs">ACCESS</span>
    <span class="text-base">**********</span>
  </div>
</section>
<section class="px-3 pt-3 pb-4 text-black">
  <section class="grid home-grid gap-2">
    <div id="profile-img" class="h-48">
      <img
        src="assets/elektrobild_4.png"
        alt="profile_picture"
        class="h-full object-cover"
      />
    </div>
    <article
      id="profile-info"
      class="border border-black px-2 py-2 flex flex-col justify-between wrap"
    >
      <section class="flex flex-row justify-between items-center">
        <span class="text-xs font-normal">WEB DEVELOPER</span>
        <span>&#9827;</span>
      </section>
      <section>
        <span class="text-base font-thin block">ARYAN GURUNG</span>
        <span class="text-3xl block font-barcode tracking-widest"
          >ARYANGRG</span
        >
        <span class="text-xs font-bold block tracking-normal"
          >DEST: FRONT END</span
        >
      </section>
      <section class="flex flex-row justify-start items-center">
        <img src="assets/ecorp.svg" alt="ecorp" class="w-8 h-10 mr-2" />
        <div class="font-courier flex flex-col items-center">
          <span class="text-xl font-bold leading-4">E-CORP</span>
          <span class="text-xs font-thin tracking-[1.5px]">SOFTWARES</span>
        </div>
      </section>
    </article>

    <section id="profile-bg" class="border border-black p-2 px-3">
      <div class="mb-3">
        <span class="tracking-widest font-bold">BACKGROUND</span>
      </div>
      <div class="text-sm font-light flex flex-col gap-2 mb-3">
        <p>
          Born and raised at the foot of the hills. I live in a beautiful town
          with vibrant culture and amazing people. Manifesting the spirit to
          craft elegant and mellifluous experience that address the issue and
          resolve obstacles with minimalism and effortless patterns.
        </p>
        <p>
          Raised with a love to experiment with new technologies and
          contributing to the community with open source projects.
        </p>
        <p>
          Forged a vision to deliver aesthetic and genuine products which
          satisfies the quench to creativity and fulfillness. Dedicating soul to
          the craft and empowering the solutions with advance technology.
        </p>
      </div>
    </section>

    <section id="profile-projects" class="border border-black p-2 px-3">
      <div class="mb-3">
        <span class="tracking-widest font-bold">PROJECTS</span>
      </div>
      <ul class="text-sm mb-4 font-light">
        <li>Job Finder</li>
        <li>Snake Game</li>
        <li>Link Shortner</li>
        <li>Mini Social Media</li>
      </ul>
      <div class="text-xs tracking-widest mb-2">
        <a href="#">See all Projects ...</a>
      </div>
    </section>

    <section id="profile-interest" class="border border-black p-2 px-3">
      <div class="mb-3">
        <span class="tracking-widest font-bold">INTEREST</span>
      </div>
      <ul class="text-sm text-sm font-light mb-3">
        <li>Drawing 2D Illustration</li>
        <li>Learning UNIX/LINUX</li>
        <li>Trekking and Camping</li>
        <li>Coding</li>
        <li>Paranormal Subjects</li>
      </ul>
    </section>
  </section>
</section>
